<form action="/edit-profile" method="post" enctype="multipart/form-data">

<p>HELLO</p>
<label>Image: </label>
 <input type="file" name="profilePic" value="{{user.imgSrc}}">
<button type="submit"> save Changes</button>

</form>