<p>Edit your Profile Pic</p>
<form action="/auth/profile/edit" method="post" enctype="multipart/form-data">
<label>Image: </label>
    <input type="file" name="profile-pic"/>
    <!-- <input type="text" name="existingImage" hidden value="{{imageUrl}}"> -->
<button type="submit">Save Changes</button>

</form>