<section class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                style="width: 150px; z-index: 1">
              
            </div>
            </div>
          <div class="card-body p-4 text-black">
            <div class="mb-5">
              <h2 class="font-italic mb-0">@{{myUser.username}}</h2>
              <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                style="z-index: 1;">
                Edit profile
              </button>
              <div class="p-4" style="background-color: #f8f9fa;">
               
                <h4>Your Favorite Artists</h4>
                {{#each myUser.favourites}}
                <p>Name of Artist: {{this.name}}</p>
                <p>Genre: {{this.genres}}</p>
                <img class="your-images-favourites" src="{{this.images}}" alt="">
                {{/each}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


