  <h2 class="login">Sign Up</h2>
<div id="login-form">
  <form action="/auth/signup" method="POST">

    <label> Username:
      <input type="text" name="username" placeholder="Your username" class="box-input" />
    </label>

    <label> Email:
      <input type="email" name="email" placeholder="Your email" class="box-input"/>
    </label>

    <label> Password:
      <input type="password" name="password" placeholder="Your password" class="box-input" />
    </label>

    <div class="login-button-div"><button type="submit" class="btn btn-primary">Sign Up</button></div>

<p class="sign-up-message">Already have an account? <a href="/auth/login">Login</a></p>
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>