<h1 class="home-page">{{appTitle}} </h1>
<div class="search-bars">

<form action="/artist" method="GET">
  <div class="input-group">
    <div class="form-outline align-input">
      <label class="form-label" for="search-input">Search:</label>
      <input type="text" id="search-input" name="characters" class="form-control" placeholder="Search any artist" />
    </div>
    <button id="search-button" type="submit" class="btn btn-primary align-button">
      <img width="15px" height="15px" src="/images/search icon .png" alt="">
    </button>
  </div>
</form>

</div>
<div class="search-bars">
<form action="/album" method="GET">
  <div class="input-group">
    <div class="form-outline align-input">
      <label class="form-label" for="form1">Search:</label>
      <input id="search-input" type="text" name="characters" id="form1" class="form-control" placeholder="Search any album" />
    </div>
    <button id="search-button" type="submit" class="btn btn-primary align-button">
      <img width="15px" height="15px" src="/images/search icon .png" alt="">
    </button>
  </div>
</form>
</div>
<div class="search-bars">
<form action="/song" method="GET">
  <div class="input-group">
    <div class="form-outline align-input">
      <label class="form-label" for="form1">Search:</label>
      <input id="search-input" type="text" id="form1" name="characters" class="form-control" placeholder="Search any song" />
    </div>
    <button id="search-button" type="submit" class="btn btn-primary align-button">
      <img width="15px" height="15px" src="/images/search icon .png" alt="">
    </button>
  </div>
</form>
</div>

<div class="intro-index">

<h3><ul><li> Search for any artist, album or song name</li></ul></h3>
<h3><ul><li> Like ❤️ your favourite music</li></ul></h3>
<h3><ul><li> Comment on artists songs and see what your friends are saying!</li></ul></h3>

</div>