*{
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: rgb(30, 215, 96);
  color: white;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.navbar-custom{
  background: rgb(15, 20, 16);
}
.nav-link{
  color: white;
}

.logo{
  width: 50px;
  height: 50px;
  margin-left: 35vw;
}
.navbar-nav{
  display: flex;
  margin: 20px;

}
.home-page{
  color:  rgb(15, 20, 16);
  text-align: center;
  margin-top: 20px;


}

.navbar-nav .nav-link:hover {
  color: rgb(30, 215, 96)
}
.align-input {
  display: flex;
  align-items: center;
}

.align-button {
  display: flex;
  align-items: center;
  margin-left: 10px; /* Add some space between the input and button */
}
.form-label{
color: rgb(15, 20, 16);
font-weight: bold;
margin-right: 10px;
font-size: large;
margin-top: 5px;
}

.input-group{
  display: flex;
  justify-content: center;

}

.search-bars{
  margin: 10px;


}
.intro-index{
  color:rgb(15, 20, 16);
  margin-top: 100px;
  margin-left: 10px;
}
.sign-up-message{
  margin-top: 30px;
}
#login-form{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 50px;


}
.login{
  display: flex;
  justify-content: center;
  margin-top: 200px;
  padding-bottom: 0;
}
.box-input{
  outline: 2px solid gray;
  font-weight: bold;
  color: black;


}

.login-button-div{
  display: flex;
  justify-content: center;
  width: inherit;
  margin-top: 20px;
  
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: black;
  gap: 20px;
  justify-items: center; /* Center grid items horizontally */
}

.images-songs {
  display: inline-block;
  text-align: center; /* Center contents of grid items */
}
.grid-container a{
  color: rgb(123, 7, 173);
}

.images-songs h5 {
  margin-top: 20px; /* Remove default margin for heading */
  color: rgb(15, 20, 16);
}

.images-songs img {
  margin: 10px 0px;
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.images-songs a {
  display: block; /* Add a line break after each link */
}

.gradient-custom-2 {
  /* fallback for old browsers /
  background: #fbc2eb;

  / Chrome 10-25, Safari 5.1-6 /
  background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));

  / W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1))
  }

  .albums-display{
    display: grid;
   /*  display: flex;
    justify-content: center; */



  }

  .your-images-favourites{
    width: 200px;
    height: 200px;
  }
  .added-to-favourites{
    margin: 10px;



  }
  .favorite-artists-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
  }
  
  .favorite-artist {
    text-align: center;
  }
  
  .favorite-artists-heading {
    grid-column: 1 / -1;
    text-align: center;
  }
  
  .artist-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
  
  .artist-name {
    margin: 10px 0;
    font-weight: bold;
  }
  
  .artist-genre {
    margin: 10px 0;
    font-weight: bold;
  }
  
  .favorite-artists-grid p:not(.artist-name):not(.artist-genre) {
    font-weight: normal;
  }
  
  .edit-button{
    margin-top: 10px;
    margin-bottom: 10px;

  }

  .form-create-artist{
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  .labels-form-create{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 10px;
    color: black;

  }

.name-of-song{

  margin: 20px;


}
.created-artists {
  position: relative;
  font-size: 32px;
  font-weight: bold;
  color: black;
  text-align: center;
  margin: 20px 0px;
}

.created-artists::before {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.created-artists:hover::before {
  opacity: 1;
}

.created-artists::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #333;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.created-artists:hover::after {
  transform: scaleX(1);
}

.buttons-create-artists{
  margin: 10px 0px;

}
.images-your-created-artists{
  border-radius: 50%;


}
.title-artistsss{
  color: purple;
  text-align: center;
  margin: 20px 0px;
  font-weight: bold;
  text-decoration: underline dashed;


}

.titles-titles{
  color: black;
  margin: 20px 0px;


}

.space-for-images{
    margin: 20px 0px;

}
