<div class="grid-container">
  {{#each result}}
  <div class="images-songs">
    <h5>{{name}}</h5>
    <img class="image-size" src="{{images.0.url}}" alt=""  />
    <a href="/album-tracks/{{this.id}}">View Tracks</a>
  </div>
  {{/each}}
</div>