<form action="/artists/create" method="post">
    <label>Name:<input type="text" name="name"/></label>
    <label>Genre:<input type="text" name="genres"/></label>
    <label>Description:<textarea type="text" name="description" cols="30" rows="4"></textarea></label>
    <label>Image:<input type="text" name="images"></label>

    <button type="submit">Create</button>
</form>